@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}
.mat-expansion-indicator:hover::after,
.mat-expansion-indicator:focus::after {
  color: yellow;
}

.mat-expansion-panel:hover,
.mat-expansion-panel:focus {
  background-color: red;
}
.mat-expansion-panel:hover .mat-expansion-indicator::after,
.mat-expansion-panel:focus .mat-expansion-indicator::after {
  color: yellow;
}
